<!-- Author: Tzu-yuan Lin
     Email:  tzuyuan@umich.edu
     Date:   04/10/2019   -->

<launch>

    <!-- Use simulation time -->
    <!-- <param name="use_sim_time" value="true" /> -->

    <!-- Parameters -->
    <arg name="data"        default="rgbd_dataset_freiburg2_desk.bag"/>
    <arg name="img" 		default="/camera/rgb/image_color"/>
	<arg name="depth" 		default="/camera/depth/image"/>
	<arg name="info" 		default="/camera/rgb/camera_info"/>

    <!-- Run DVO code -->
    <node pkg="dvo" type="run_dvo" name="dvo" output="screen" args="$(arg img) $(arg depth) $(arg info)"/>
 
    <!-- Load data -->
    <node pkg="rosbag" type="play" name="player" args="$(find dvo)/../../../data/$(arg data)"/>

    <!-- Visualization -->
    <node name="rviz" pkg="rviz" type="rviz"/>

</launch>
